@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background: rgb(236, 235, 235);
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

#card{
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 550px;
    padding: 30px 20px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

#card img{
    display: flex;
    width: 200px;
    max-height: 200px;
    margin: 20px auto;
}

.hp{
    width: 80px;
    background-color: #fff;
    text-align: center;
    padding: 10px 0;
    border-radius: 30px;
    margin-left: auto;
}

.pokeName{
    text-align: center;
    text-transform: capitalize;
}

.types{
    display: flex;
    justify-content: space-around;
    gap: 60;
    margin-top: 20px;
    margin-bottom: 40px;
}

.hp span{
    font-size: 12px;
    font-weight: 600;
}

.types span{
    pad: 5px 20px;
    border-radius: 20px;
    color: #fff
}

.stats{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.stats p{
    color: rgb(223, 2, 131);
}

#btn{
    display: block;
    padding: 15px 60px;
    font-size: 18px;
    color:#fff;
    background: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}